<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghouse.service.mapper.HouseMapper">

    <select id="getHouseInfo" resultType="com.ghouse.bean.HouseInfo">
        <![CDATA[
              SELECT * FROM house WHERE id=#{id} AND status=1;
        ]]>
    </select>

    <select id="getHouseRes" resultType="com.ghouse.bean.HouseRes">
        SELECT id,name,cname FROM house_res WHERE status = 2
    </select>

    <select id="getAchieveHistory" resultType="com.ghouse.bean.AchieveHistory">
        SELECT * FROM achieve_history WHERE uid = #{uid} AND createDate = date(#{date})
    </select>

    <update id="updateTemperatureAndHumidity">
        UPDATE house SET temperature = #{temperature}, humidity = #{humidity} WHERE id = #{clientId}
    </update>

    <update id="updateAq">
        UPDATE house SET aq =#{aq} WHERE id = #{clientId}
    </update>

    <update id="updateGas">
        UPDATE house SET gas =#{gas} WHERE id = #{clientId}
    </update>

    <update id="updateCapacity">
        UPDATE house SET capacity=#{capacity} WHERE id = #{clientId}
    </update>

    <insert id="addWeightHistory">
        INSERT INTO weight_history(hid, uid, category, weight, createTime) VALUES
        (#{clientId}, #{userId}, #{category}, #{weight}, now())
    </insert>
</mapper>