<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghouse.service.mapper.HouseMapper">

    <select id="getHouseInfo" resultType="com.ghouse.bean.HouseInfo">
        <![CDATA[
              SELECT * FROM house WHERE id=#{id} AND status=1;
        ]]>
    </select>

    <select id="getHouseStateStatus" resultType="com.ghouse.bean.HouseStatu">
        SELECT * FROM house_state;
    </select>

    <select id="getHouseResStatus" resultType="com.ghouse.bean.HouseStatu">
        SELECT * FROM house_res ORDER BY doorId;
    </select>

    <select id="getAchieveHistory" resultType="com.ghouse.bean.AchieveHistory">
        SELECT * FROM achieve_history WHERE uid = #{uid} AND createDate = date(#{date})
    </select>

    <update id="updateTemperatureAndHumidity">
        UPDATE house SET temperature = #{temperature}, humidity = #{humidity} WHERE id = #{clientId}
    </update>

    <update id="updateAq">
        UPDATE house SET aq =#{aq} WHERE id = #{clientId}
    </update>

    <update id="updateGas">
        UPDATE house SET gas =#{gas} WHERE id = #{clientId}
    </update>

    <update id="updateCapacity">
        UPDATE house SET capacity=#{capacity} WHERE id = #{clientId}
    </update>

    <insert id="addWeightHistory">
        INSERT INTO weight_history(hid, uid, category, weight, createTime) VALUES
        (#{clientId}, #{userId}, #{category}, #{weight}, now())
    </insert>

    <select id="getHandleHistory" resultType="com.ghouse.bean.HandleHistory">
        SELECT * FROM handle_history WHERE uid = #{uid} and hid = #{hid} and handle_statu = 1;
    </select>

    <update id="updateHandleStatu">
        UPDATE handle_history SET handle_statu = #{statu} WHERE id = #{id};
    </update>

    <insert id="addHandleStatu">
        INSERT INTO handle_history(uid, hid, handle_statu, handleTime) VALUES (#{uid}, #{hid}, 1, now());
    </insert>
</mapper>